<section id="about" pageTitle="title">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="../../assets/imgs/mock_ipad.jpg" alt="mock ipad.jpg">
            </div>
            <div class="col-sm-6 details">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam et quisquam nihil cumque, officiis ipsam? Amet rem maxime est, ab, accusantium natus, distinctio quas, possimus aut libero praesentium autem dolorem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eius quo soluta voluptatibus debitis, quas aliquid excepturi maxime molestiae odio earum nemo rerum doloribus reiciendis, voluptatem ut at saepe libero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quibusdam, aut aliquid nam, adipisci earum vitae reiciendis error aspernatur ratione facilis dicta! Officia velit fugiat recusandae mollitia numquam qui enim!</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 details">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque corporis ratione, provident adipisci maxime porro labore aut cumque! Nam alias quo delectus, officiis odit fugit deserunt porro, soluta? Laborum, vel! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia commodi animi officiis soluta debitis, hic, quasi unde illo, officia odit reprehenderit aut repellendus ipsam saepe! Repudiandae officia, minima. Voluptatem, nostrum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas temporibus doloremque quam qui harum quis non excepturi vel ducimus dolor cum maiores autem molestiae laudantium sunt ea, dicta, libero culpa.
                </p>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" src="../../assets/imgs/mock_nexus.jpg" alt="mock_nexus.jpg">
            </div>
        </div>
    </div>
</section>
