<section id="pricing" pageTitle='title'>
    <div class="contact-info">
        <p class="bold-txt">About</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="info">
        <div class="person">
            <img src="../../assets/imgs/team2.jpg" alt="team2 not found" style="width: 290px; height: 200px; filter: grayscale(0.8);">
            <h3>John Doe</h3>
            <p class="gray">CEO & Founder</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            <p><button>Contact</button></p>
        </div>
        <div class="person">
            <img src="../../assets/imgs/team1.jpg" alt="team1 not found" style="width: 290px; height: 200px; filter: grayscale(0.8);">
            <h3>Jane Doe</h3>
            <p class="gray">Architect</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            <p><button>Contact</button></p>
        </div>
        <div class="person">
            <img src="../../assets/imgs/team3.jpg" alt="team3 not found" style="width: 290px; height: 200px; filter: grayscale(0.8);">
            <h3>Mike Ross</h3>
            <p class="gray">Architect</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            <p><button>Contact</button></p>
        </div>
        <div class="person">
            <img src="../../assets/imgs/team4.jpg" alt="team4 not found" style="width: 290px; height: 200px; filter: grayscale(.8);">
            <h3>Dan Star</h3>
            <p class="gray">Architect</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.</p>
            <p><button>Contact</button></p>
        </div>
    </div>

    <div class="contact-header">
        <h3>Contact</h3>
        <hr>
        <p>Lets get in touch and talk about your next project.</p>
    </div>

    <div class="contact-form">
        <form action="" target="_self" ngNoForm>
            <input type="text" name="Name" placeholder="Name" required title="Please fill out this form properply then click submit">
            <input type="email" name="Email" placeholder="Email" required title="Please fill out this form properply then click submit">
            <input type="text" name="Subject" placeholder="Subject" required title="Please fill out this form properply then click submit">
            <input type="text" name="Comment" placeholder="Comment" required title="Please fill out this form properply then click submit">
            <button type="submit">SEND MESSAGE</button>
        </form>
    </div>

    <div class="map">
        <img src="../../assets/imgs/map.jpg" alt="map not found">
    </div>
</section>
